<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a
        href=""
        class="footer__nav-item footer__nav-item--button footer__nav-item--mob"
        >Скачать приложение</a
      >

      <nav class="footer__nav">
        <a href="" class="footer__nav-item">инструкция</a>
        <a href="" class="footer__nav-item">события</a>
        <a href="" class="footer__nav-item">Центр</a>
        <a href="" class="footer__nav-item footer__nav-item--edge">мерч</a>

        <a href="" class="footer__nav-item">Instagram</a>
        <a href="" class="footer__nav-item">Youtube</a>

        <a href="" class="footer__nav-item footer__nav-item--button"
          >Скачать приложение</a
        >
      </nav>

      <div class="footer__bottom">
        <picture>
          <source
            media="only screen and (max-width: 767px)"
            srcset="assets/images/footer-mob.png"
          />

          <img class="" src="assets/images/footer.png" alt="" />
        </picture>
      </div>
    </div>
  </div>
</footer>
