<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="logo">
        <a href="/">
          <picture>
            <source
              media="only screen and (max-width: 767px)"
              srcset="assets/images/logo-mob.png"
            />

            <img class="logo__img" src="assets/images/logo.png" alt="" />
          </picture>
        </a>
      </div>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="" class="nav__link">протокол</a></li>
          <li class="nav__item"><a href="" class="nav__link">челленджи</a></li>
          <li class="nav__item">
            <a href="" class="nav__link">лаборатория</a>
          </li>
          <li class="nav__item"><a href="" class="nav__link">награды</a></li>
          <li class="nav__item nav__item--mobile">
            <a href="" class="nav__link nav__link--mobile"
              >Скачать приложение</a
            >
          </li>
        </ul>
      </nav>

      <button class="header__burger" data-element="navToggle">
        <i></i>
        <i></i>
        <i></i>
      </button>
    </div>
  </div>
</header>
