@use "base/mixins" as mixins;
@use "base/variables" as vars;

.nav {
  transition: transform 0.3s;

  &__list {
    display: flex;
    gap: 12px;
  }

  &__link {
    display: inline-block;
    text-align: center;
    padding: 12px 70px;
    border: 1px solid #fff;
    border-radius: 48px;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease;

    &--mobile {
      display: none;
    }
  }
}

@media (hover: hover) {
  .nav__link:hover {
    box-shadow: 2px -1px 9px 2px #cfcfcf66 inset;
    box-shadow: 5px 4px 5px 0px #7a55ca inset;
  }
}

@media #{vars.$normal} {
  .nav {
    &__link {
      padding: 12px 24px;
    }
  }
}

@media #{vars.$small} {
  .nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 110px 30px 30px 30px;
    background: linear-gradient(180deg, #8f5cfb 0%, #f9f6fe 100%);
    top: 0;
    left: 0;
    transform: translateY(-100%);

    &__list {
      flex-direction: column;
      gap: 16px;
      height: 100%;
    }

    &__item {
      &--mobile {
        margin-top: auto;
      }
    }

    &__link {
      width: 100%;

      &--mobile {
        display: inline-block;
        border: 1px solid #000;
        background-color: #000;
      }
    }
  }
}

body.is-nav-open {
  .nav {
    transform: none;
  }
}
