@use "base/mixins" as mixins;
@use "base/variables" as vars;

.rewards {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__main {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: calc(50% - 8px);
    padding: 50px 40px;
    border-radius: 80px;
    border: 2px solid #ffffff;

    & img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__shadow {
    border-radius: 80px;
    content: "";
    position: absolute;
    z-index: 3;
    pointer-events: none;
    inset: 0;
    width: 100%;
    height: 100%;
    box-shadow: 5px 3px 4px 0px #0000004d inset;
  }

  &__main-overlay {
    height: 280px;
    // opacity: 0.5;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &__info {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: auto;
    font-size: 32px;
    letter-spacing: -1%;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1%;
  }

  &__name {
    width: 30%;
  }

  &__price {
    display: flex;
    max-height: max-content;
    margin-top: auto;
  }

  &__list {
    width: calc(50% - 8px);
    background: linear-gradient(360deg, #f2f2f2 0%, #e3e3e3 100%);
    border: 2px solid #ffffff;
    border-radius: 80px;
    padding: 24px;
    box-shadow: 5px 3px 4px 0px #0000004d inset;
  }

  &__list-caption,
  &__mobile-caption {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -1%;
    text-align: center;
    color: #949494;
    padding: 18px 0;
    margin-bottom: 18px;
  }

  &__mobile-caption {
    display: none;
    margin-bottom: 0;
  }

  &__list-items {
    display: flex;
    justify-content: space-between;
    row-gap: 16px;
    flex-wrap: wrap;
  }

  &__list-item {
    width: calc(50% - 8px);
    aspect-ratio: 1;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    border: 2px solid #ffffff80;
    transition: border-color 0.3s;

    & .rewards__shadow {
      border-radius: 40px;
    }

    & img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.is-current {
      border-color: #8f5cfb;
    }
  }

  &__button {
    width: 100%;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 30px;
    background-color: #fff;
    color: #8f5cfb;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -2%;
    text-align: center;
    border-radius: 150px;
    box-shadow: 5px 3px 4px 0px #0000004d;
    margin-top: 40px;
    transition:
      color 0.3s,
      box-shadow 0.3s,
      background-color 0.3s;

    &--mobile {
      display: none;
    }
  }
}

@media #{vars.$small} {
  .rewards {
    &__content {
      flex-direction: column;
      gap: 24px;
      background: linear-gradient(360deg, #f2f2f2 0%, #e3e3e3 100%);
      border: 2px solid #ffffff;
      border-radius: 80px;
      padding: 24px;
      box-shadow: 5px 3px 4px 0px #0000004d inset;
    }

    &__mobile-caption,
    &__button--mobile {
      display: inline-block;
    }

    &__main,
    &__list {
      width: 100%;
    }

    &__name {
      width: auto;
    }

    &__main {
      aspect-ratio: 1;
      border-radius: 56px;
    }

    &__list {
      background: unset;
      border: none;
      border-radius: unset;
      padding: 0;
      box-shadow: none;
    }

    &__list-item {
      width: calc(25% - 6px);
      min-height: 220px;
    }

    &__list-caption,
    &__button--desktop {
      display: none;
    }
  }
}

@media #{vars.$xsmall} {
  .rewards {
    &__content {
      border-radius: 40px;
      padding: 20px;
    }

    &__main {
      padding: 24px;
      border-radius: 32px;
    }

    &__mobile-caption {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      padding: 0;
    }

    &__info {
      font-weight: 700;
      font-size: 20px;
      letter-spacing: -2%;
    }

    &__list-item {
      min-height: 120px;
      border-radius: 24px;
    }

    &__button--mobile {
      margin-top: 16px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0%;
      padding: 20px 32px;
    }
  }
}

@media (hover: hover) {
  .rewards {
    &__button:hover {
      background-color: #eaeaea;
    }
  }
}
